.justify-left {
    justify-self: left;
}
.justify-right {
    justify-self: right;
}

.primary {
    color: var(--primary);
}
.secondary {
    color: var(--secondary);
}
.back-primary {
    background: var(--primary);
}
.back-secondary {
    background: var(--secondary);
}
.border-primary {
    border-color: var(--primary);
}
.border-secondary {
    border-color: var(--secondary);
}

.space-between {
    justify-content: space-between;
}

.bottom {
    position: absolute;
    bottom: 0;
}

.horizontal-flex, .horizontal-flex-right, .horizontal-flex-left {
    display: flex;
    flex-direction: row;
}
.horizontal-flex-left {
    justify-items: left;
}
.horizontal-flex-right {
    justify-items: right;
}
.vertical-flex {
    display: flex;
    flex-direction: column;
}

.height-fit {
    height: fit-content;
}
.height-max {
    min-height: 100%;
}
.height-full {
    height: 100%;
}
.width-full {
    width: 100%;
}

.grid {
    display: grid;
    gap: 4px;
}

.grow {
    flex-grow: 1;
}

.no-extra {
    padding: 0;
    margin: 0;
}