:root {
    --primary: #000000;
    --secondary: #000000;
    --accent: #000000;
    --accent2: #000000;
    --text: #000000;
    --font: arial;
    --background: #000000;
}

html {
    background: var(--background);
    font-family: var(--font);
    color: var(--text);

    display: flex;

    min-height: 100%;
    margin: 0;
    padding: 0;
}


footer p, footer .stat-btn {
    padding: 3px 6px 3px 6px;
    margin: 0;
    font-size: 12px;
    color: var(--text);
    /*width: fit-content;*/
}


.stat-btn {
    background: inherit;
    border: none;
}
.stat-btn:hover {
    background: var(--secondary);
}

#container {
    margin-bottom: 20px;
}

#widget-overlay, #settings-overlay {
    position: absolute;
    z-index: 2;
    bottom: 12.5%;
    left: 12.5%;
    background-color:var(--secondary);
    display: flex;
    width: 75%;
    height: 75%;
    color: var(--text);
    visibility: hidden;
}

#widget-overlay {
    flex-direction: column;
}
#settings-overlay {
    flex-direction: row;
}
#settings-overlay #settings-sidebar {
    display: flex;
    flex-direction: column;
    width: fit-content;
    height: 100%;
    border: 1px solid var(--primary);
}
#settings-overlay #settings-sidebar .stat-btn {
    padding: 10px 60px;
}
#settings-overlay #settings-content {
    flex-grow: 1;
}