.bare-btn {
    background: none;
    border: none;
    color: inherit;
    font: inherit;
    cursor: pointer;
    padding: 0;
    text-align: left;
}
.bare-btn:hover {
    text-decoration: underline;
}

.pad {
    padding: 2px 8px;
}

h1 {
    text-align: center;
}

.setting {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    width: 100%;
}

.setting > p {
    margin: 8px;
}
.setting > input {
    width: 50%;
    justify-self: right;
    height: min-content;
    margin: 8px;
}

.section {
    display: none;
}