html, body {
    height: 100%;
    display: flex;
    flex-direction: column;
    margin: 0;
}

.top {
    height: 60px;
    display: flex;
    flex-direction: row;
    justify-items: left;
    position: absolute;
    top: 0;
    overflow-x: scroll;
}
.top button {
    padding: 10px 10px 10px 10px;
    border: none;
    cursor: pointer;
    flex-grow: 1;
    text-align: center;
}
.top button:hover {
    background-color: #000000;
}
.top button.active {
    background-color: #000000;
}

.text {
    width: 100%;
    flex-grow: 1;
    margin-top: 40px;
}

body, .text {
    padding: 0;
    border: 0;
}