.widget {
    display: flex;
    flex-direction: column;
    /*border: solid;*/
    background: white;
    border-radius: 10px;
    margin: 0.5vh 0.5vw;
    min-height: 28%;
    min-width: 28%;
    box-shadow: 0px 0px 12px 1px black;
}
.widget .subdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    border-bottom: solid;
    height: 25px;
    text-align: center;
}
.widget iframe {
    width: 100%;
    height: 100%;
    border: none;
}
.widget .subdiv p, .widget .subdiv button {
    margin: 0;
    padding: 2px;
}

.overlay {
    z-index: 3;
    position: fixed;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: rgba(2, 2, 2, 0.75);
}

.overlay input, .overlay select, .overlay p {
    margin: 5px;
    height: 20px;
}

.horizontal-subdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
}