.widget {
    display: flex;
    flex-direction: column;
    border: solid;
    margin: 5px;
}
.widget .subdiv {
    display: flex;
    flex-direction: row;
    justify-content: space-between;
    align-content: center;
    
    border-bottom: solid;
    height: 25px;
    text-align: center;
}
.widget iframe {
    width: 100%;
    height: 100%;
}
.widget .subdiv p, .widget .subdiv button {
    margin: 0;
    padding: 2px;
}

.overlay {
    z-index: 2;
    position: absolute;
    top: 20%;
    left: 20%;
    height: 60%;
    width: 60%;
    background-color: rgba(2, 2, 2, 0.75);
    visibility: hidden;
}