body {
    display: flex;
    flex-direction: column;
}

main {
    display: grid;
    flex: 1;
    width: 100%;
    background-color: var(--background);
}

.status-bar-item {
    padding: 3px 6px;
    margin: 0;
    font-size: 12px;
    color: var(--status-bar-text);
    cursor: default;
    font-size: var(--status-bar-font-size);
}
.status-bar-button:hover {
    background-color: var(--status-bar-hover);
    cursor: pointer;
}