html, body {
    height: 100%;
    width: 100%;
    max-height: 100%;
    max-width: 100%;
    margin: 0;
}

header {
    app-region: drag;
}

h1 {
    font-size: 40px;
    color: var(--heading);
}

#topbar > button {
    margin: 2vh 1vw;
    color: var(--buttons);
}
#topbar > button:hover {
    color: var(--buttons-hover);
}
#topbar > button > i {
    margin: 0 0.5vw;
}

.marketplace {
    margin: 2vh 1%;
    padding: 1vh 1%;
    background-color: var(--marketplace-background);
    width: 96%;
    display: flex;
    flex-direction: column;
    overflow: auto;
}

.marketplace > h2 {
    font-size: 20px;
    color: var(--marketplace-name);
    margin: 1vh;
    font-weight: bold;
}
.marketplace > h3 {
    font-size: 16px;
    color: var(--marketplace-url);
    margin: 1vh;
    font-weight: normal;
}

.marketplace:hover {
    background-color: var(--marketplace-hover);
    cursor: pointer;
}

.marketplace::-webkit-scrollbar {
    width: 0;
    height: 0;
}

#marketplaces {
    flex-grow: 1;
    overflow-y: auto;
    overflow-x: hidden;
}

body, main {
    height: 100%;
    display: flex;
    flex-direction: column;
}