header {
    app-region: drag;
}

h1 {
    font-size: 60px;
    color: var(--heading);
}

#topbar > button {
    margin: 2vh 1vw;
    color: var(--buttons);
}
#topbar > button:hover {
    color: var(--buttons-hover);
}
#topbar > button > i {
    margin: 0 0.5vw;
}

.workspace {
    margin: 2vh 1vw;
    padding: 1vh 1vw;
    background-color: var(--workspace-background);
    width: 96vw;
    display: flex;
    flex-direction: row;
}
.workspace > div, #workspaces > div > p {
    width: 46%;
    margin: 0 1%;
}
.workspace > div > button > h2 {
    font-size: 20px;
    color: var(--workspace-name);
    margin: 1vh;
    font-weight: bold;
}
.workspace > div > h3 {
    font-size: 16px;
    color: var(--workspace-path);
    margin: 1vh;
    font-weight: normal;
    cursor: default;
}
.workspace > p {
    font-size: 16px;
    color: var(--last-accessed);
    align-self: center;
    text-align: center;
}
.workspace:hover {
    background-color: var(--workspace-hover);
    cursor: pointer;
}