header {
    app-region: drag;
}

h1 {
    font-size: 60px;
    color: var(--heading);
}

#topbar > button {
    margin: 2vh 1vw;
    color: var(--buttons);
}
#topbar > button:hover {
    color: var(--buttons-hover);
}
#topbar > button > i {
    margin: 0 0.5vw;
}

#workspaces > div {
    margin: 2vh 1vw;
    padding: 1vh 1vw;
    background-color: var(--workspace-background);
    width: 96vw;
    display: flex;
    flex-direction: row;
}
#workspaces > div > div, #workspaces > div > p {
    width: 46%;
    margin: 0 1%;
}
#workspaces > div > div > button > h2 {
    font-size: 20px;
    color: var(--workspace-name);
    margin: 1vh;
    font-weight: bold;
}
#workspaces > div > div > h3 {
    font-size: 16px;
    color: var(--workspace-path);
    margin: 1vh;
    font-weight: normal;
}
#workspaces > div > p {
    font-size: 16px;
    color: var(--last-accessed);
    align-self: center;
    text-align: center;
}